server/logs/
server/npm-debug.log
server/yarn-error.log
server/node_modules/
server/package-lock.json
server/yarn.lock
server/coverage/
server/.idea/
server/.DS_Store
server/*.sw*
server/*.un~
server/.nyc_output/
test/node_modules/
admin/node_modules/
